@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-montserat;
}


* {
  box-sizing: border-box;
}

.deneme{
  position: relative;
  transition: .5s;

}
.deneme::after{
  content: '';
  position:absolute;
  bottom: -8px;
  transform-origin: left;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: black;
  transition: .5s;
}
.deneme:hover::after{
  transform: scaleX(1);
}
.btn-primary{
  @apply w-48 h-12 bg-primary text-brown font-bold hover:bg-brown hover:text-white transition-all duration-700;
}
.btn-secondary{
  @apply w-48 h-12 bg-red text-white font-bold hover:bg-transparent transition-all duration-700 rounded-full border-red border;
}
.btn-third{
  @apply w-48 h-12 bg-transparent text-white font-bold hover:bg-red transition-all duration-700 rounded-full border-white border-2 hover:border-red;
}